#colorAdd
{
    position:absolute;
    display: block;

    width: 100%;
    height: 100%;

    background-color: rgb(36, 133, 91);
    mix-blend-mode: darken;
    z-index: 1;
}

#startWindow
{
    margin: 10% 10%;
    border: 3px solid rgb(34, 6, 40);
    background-color: rgba(34, 6, 40, 0.784);

    word-wrap: break-word;
    word-break: break-word;

    top: 50px;
    max-width: 1000px;

    z-index: 101;


    font-family:Tahoma, sans-serif;

    visibility: visible;

}

#floraWindow
{
    margin: 10% 10%;
    border: 3px solid rgb(36, 133, 91);
    background-color: rgb(36, 133, 91, 0.784);

    word-wrap: break-word;
    word-break: break-word;

    top: 50px;
    max-width: 1000px;

    z-index: 101;

    font-family:Tahoma, sans-serif;

    visibility: visible;

}

#adelma
{
    text-align: center;
    display: block;
    width:60vw;
    max-width: 600px;

    border: 8px;
    border-style:dashed;
    border-color: aliceblue;
}

#img-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
}


h3
{
    text-align: center;
    text-overflow: normal;
    padding: 10px 0;
    color: aliceblue;
}

p
{
    text-overflow: normal;
    padding: 20px 30px;
    color: aliceblue;
}

a
{
    font-family:Tahoma, sans-serif;
    color: rgb(36, 133, 91);
}

em
{
    color: rgb(36, 133, 91);
}

html, body {
    overflow-x: hidden;
}

html {
    display: table;
    margin: auto;
    background-color: black;
    max-height: 98%;
}

body {
    display: table-cell;
    vertical-align: middle;
}