#trees0
{
    image-rendering:optimizeQuality;
    width: 100%;
    filter: blur(0px);
    z-index: 0;
    filter: brightness(0);
}

#trees1
{
    image-rendering:optimizeQuality;
    width: 100%;
    filter: blur(0px);
    z-index: 1;
    filter: brightness(0);
}

#trees2
{
    image-rendering:optimizeQuality;
    width: 100%;
    filter: blur(0px);
    z-index: 2;
    filter: brightness(0);
}

#colorAdd
{
    display: block;
    position: absolute;

    min-width: 1000px;
    min-height: 1000px;

    top: 50%;
    left: 0%;    
    transform: translate(0%, -50%);


    background-color: rgb(36, 133, 91);
    mix-blend-mode: darken;
    z-index: 99;
}

.container 
{
    display: block;
    transform: translate(0%,0%);
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    position: relative;
}
  
#center0
{
    display: block;
    padding: px;
    position: absolute;
    top: 50%;
    left: 0%;    
    transform: translate(0%, -50%);
    text-align: center;
}

#center1
{
    display: block;
    padding: px;
    position: absolute;
    top: 50%;
    left: 0%;    
    transform: translate(0%, -50%);
    text-align: center;
}

#center2
{
    display: block;
    padding: px;
    position: absolute;
    top: 50%;
    left: 0%;    
    transform: translate(0%, -50%);
    text-align: center;
}

#canopy
{
    height: 100%;
    top: 0%;
    position: absolute;
    z-index: 98;
}

#canopyBack
{
    display: block;
    padding: px;
    position: absolute;
    top: 4%;
    left: 0%;    
    text-align: center;

    filter: brightness(.3);
    transform: scaleX(-1);

    width: 120%;

    z-index: 97;
}

#popupWindow
{
    margin: 1% 30%;
    border: 3px solid rgb(34, 6, 40);
    background-color: rgba(34, 6, 40, 0.784);

    word-wrap: break-word;
    word-break: break-word;

    transform: translate(0%, 20px);
    position: relative;

    z-index: 100;

    font-family:Tahoma, sans-serif;

    visibility: hidden;

    min-width: 400px;
}

#startWindow
{
    margin: 1% 30%;
    border: 3px solid rgb(34, 6, 40);
    background-color: rgba(34, 6, 40, 0.784);

    word-wrap: break-word;
    word-break: break-word;

    transform: translate(0%, 20px);
    position: relative;

    z-index: 100;

    font-family:Tahoma, sans-serif;

    visibility: visible;

    min-width: 400px;
}

h3
{
    text-align: center;
    text-overflow: normal;
    padding: 10px 0;
    color: aliceblue;
}

p
{
    text-overflow: normal;
    padding: 20px 30px;
    color: aliceblue;
}



html, body {
    overflow: hidden;
}

html {
    display: table;
    margin: auto;
    background-color: black;
}

body {
    display: table-cell;
    vertical-align: middle;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(36, 133, 91);
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transform: translate(16px,-16px);
    font-family:Tahoma, sans-serif;
    color: aliceblue;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(34, 6, 40, 0.784);
    min-width: 230px;
    border: 3px solid rgb(34, 6, 40);
    z-index: 1;
    overflow: scroll;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:max-content;
    background-color: rgba(34, 6, 40, 0.784);
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {background-color: rgb(36, 133, 91)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show 
  {
    display:block;
  }
